<div class = "grid-row">
  <div class= "column-whole">
    <div class="heading-xlarge">
     <h1> Race disparity in the public sector </h1>
    </div>

    <p>
      Government departments measure how people from different races experience and access public services.
    </p>

    <p>
      This data will help to reflect the realities of people living in the UK, and feed into policy issues relating to race equality.
    </p>

    <p>
      Over time, more information will be collected and reported here.
    </p>
  </div>
</div>

<div class="grid-row">
  <div class="column-whole">
    <p> You can browse all of the available data, or you can search for something more specific, using the keyword search or filters. </p>

    <div id="homepage-navigation-tabs">
      <h3 class="heading-medium">
        <span id="<%= HomepageController::TOPIC %>-selector">
          Topic
        </span>
        |
        <span id="<%= HomepageController::RACE %>-selector">
           Race
        </span>
        |
        <span id="<%=HomepageController::LOCATION %>-selector">
          Location
        </span>
      </h3>
    </div>
  </div>
</div>

<div class="grid-row radios-container" id="race-radios">
  <div class="column-whole">
    <%= form_tag(class: "form-group", action:"navigation_form", method: "POST") do %>
      <fieldset>
        <input type="hidden" name="filter_type" value="<%= HomepageController::RACE%>">

        <label class="block-label selection-button-radio" for="radio-1">
          <input id="radio-1" type="radio" name="radio-group" value="White">
          White
        </label>

        <label class="block-label selection-button-radio" for="radio-2">
          <input id="radio-2" type="radio" name="radio-group" value="Black">
          Black
        </label>

        <label class="block-label selection-button-radio" for="radio-3">
          <input id="radio-3" type="radio" name="radio-group" value="Asian">
          Asian
        </label>

        <label class="block-label selection-button-radio" for="radio-4">
          <input id="radio-4" type="radio" name="radio-group" value="Mixed">
          Mixed
        </label>

        <label class="block-label selection-button-radio" for="radio-5">
          <input id="radio-5" type="radio" name="radio-group" value="Other">
          Other
        </label>
      </fieldset>
      <br>
      <br>
      <div>
        <input class="button" type="submit" value="Browse">
      </div>
    <% end %>
  </div>
</div>

<div class="grid-row radios-container" id="topic-radios">
  <div class="column-whole">
    <%= form_tag(class: "form-group", action:"navigation_form", method: "POST") do %>
      <fieldset>
        <input type="hidden" name="filter_type" value="<%=HomepageController::TOPIC%>">

        <% TaxonomyLevel.homepage.taxonomy_levels.each_with_index do |topic, index| %>
          <label class="block-label selection-button-radio" for="topic-radio-<%= index %>">
            <input id="topic-radio-<%= index %>" type="radio" name="topic-radio-group" value="<%= topic.id %>">
            <%= topic.display_name %>
          </label>
        <% end %>
      </fieldset>
      <br>
      <br>
      <div>
        <input class="button" type="submit" value="Browse">
      </div>
    <% end %>
  </div>
</div>

<div class="grid-row radios-container" id="location-radios">
  <div class= "column-whole">
    <h3 class="heading-medium">
      Navigation not available
    </h3>
  </div>
</div>

