<div class = "grid-row">
  <div class= "column-whole">
    <div class="heading-xlarge">
     <h1> Race disparity in the public sector </h1>
    </div>

    <p>
      Government departments measure how people from different races experience and access public services.
    </p>

    <p>
      This data will help to reflect the realities of people living in the UK, and feed into policy issues relating to race equality.
    </p>

    <p>
      Over time, more information will be collected and reported here.
    </p>
  </div>
</div>

<div class="grid-row">
  <div class="column-whole">
    <p> You can browse all of the available data, or you can search for something more specific, using the keyword search or filters. </p>

    <div id="navigation-tabs">
      <ul class = "tabs-nav">
        <li id="<%= HomepageController::TOPIC %>-selector" class="selected">
          <a href="#">Topic</a>
        </li>

        <li id="<%= HomepageController::RACE %>-selector">
           <a href="#"> Race </a>
        </li>

        <li id="<%=HomepageController::LOCATION %>-selector">
          <a href="#">Location</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="grid-row radios-container" id="race-section">
  <div class="column-whole">
    <%= form_tag(class: "form-group", action:"navigation_form", method: "POST") do %>
      <fieldset>
        <input type="hidden" name="filter_type" value="<%= HomepageController::RACE%>">

        <label class="block-label selection-button-radio" for="radio-1">
          <input id="radio-1" type="radio" name="radio-group" value="White">
          White All
        </label>

        <label class="block-label selection-button-radio" for="radio-2">
          <input id="radio-2" type="radio" name="radio-group" value="EnglishWelshScottishNorthernIrishOrWhiteBritish">
          English / Welsh / Scottish / Northern Irish / White British
        </label>

        <label class="block-label selection-button-radio" for="radio-3">
          <input id="radio-3" type="radio" name="radio-group" value="Irish">
          Irish
        </label>

        <label class="block-label selection-button-radio" for="radio-4">
          <input id="radio-4" type="radio" name="radio-group" value="GypsyOrIrishTraveller">
          Gypsy or Irish Traveller
        </label>

        <label class="block-label selection-button-radio" for="radio-5">
          <input id="radio-5" type="radio" name="radio-group" value="Mixed">
          Mixed All
        </label>

        <label class="block-label selection-button-radio" for="radio-6">
          <input id="radio-6" type="radio" name="radio-group" value="WhiteAndCaribbean">
          White and Black Caribbean
        </label>

        <label class="block-label selection-button-radio" for="radio-7">
          <input id="radio-7" type="radio" name="radio-group" value="WhiteAndAfrican">
          White and Black African
        </label>

        <label class="block-label selection-button-radio" for="radio-8">
          <input id="radio-8" type="radio" name="radio-group" value="WhiteAndAsian">
          White and Asian
        </label>

        <label class="block-label selection-button-radio" for="radio-9">
          <input id="radio-9" type="radio" name="radio-group" value="MixedOther">
          Any other Mixed / Multiple ethnic background
        </label>

        <label class="block-label selection-button-radio" for="radio-10">
          <input id="radio-10" type="radio" name="radio-group" value="Asian">
          Asian All
        </label>

        <label class="block-label selection-button-radio" for="radio-11">
          <input id="radio-11" type="radio" name="radio-group" value="Indian">
          Indian
        </label>

        <label class="block-label selection-button-radio" for="radio-12">
          <input id="radio-12" type="radio" name="radio-group" value="Pakistani">
          Pakistani
        </label>

        <label class="block-label selection-button-radio" for="radio-13">
          <input id="radio-13" type="radio" name="radio-group" value="Bangladeshi">
          Bangladeshi
        </label>

        <label class="block-label selection-button-radio" for="radio-14">
          <input id="radio-14" type="radio" name="radio-group" value="Chinese">
          Chinese
        </label>


        <label class="block-label selection-button-radio" for="radio-15">
          <input id="radio-15" type="radio" name="radio-group" value="AsianOther">
          Any other Asian background
        </label>

        <label class="block-label selection-button-radio" for="radio-16">
          <input id="radio-16" type="radio" name="radio-group" value="Black">
          Black All
        </label>

        <label class="block-label selection-button-radio" for="radio-17">
          <input id="radio-17" type="radio" name="radio-group" value="African">
          African
        </label>

        <label class="block-label selection-button-radio" for="radio-18">
          <input id="radio-18" type="radio" name="radio-group" value="Caribbean">
          Caribbean
        </label>

        <label class="block-label selection-button-radio" for="radio-19">
          <input id="radio-19" type="radio" name="radio-group" value="BlackOther">
          Any other Black / African / Caribbean background
        </label>

        <label class="block-label selection-button-radio" for="radio-20">
          <input id="radio-20" type="radio" name="radio-group" value="Arab">
          Arab
        </label>

        <label class="block-label selection-button-radio" for="radio-21">
          <input id="radio-21" type="radio" name="radio-group" value="Other">
          Other
        </label>
      </fieldset>
      <br>
      <br>
      <div>
        <input class="button" type="submit" value="Browse">
      </div>
    <% end %>
  </div>
</div>

<div class="grid-row radios-container" id="topic-section">
  <div class="column-whole">
    <%= form_tag(class: "form-group", action:"navigation_form", method: "POST") do %>
      <fieldset>
        <input type="hidden" name="filter_type" value="<%=HomepageController::TOPIC%>">

        <% TaxonomyLevel.homepage.taxonomy_levels.each_with_index do |topic, index| %>
          <label class="block-label selection-button-radio" for="topic-radio-<%= index %>">
            <input id="topic-radio-<%= index %>" type="radio" name="topic-radio-group" value="<%= topic.id %>">
            <%= topic.display_name %>
          </label>
        <% end %>
      </fieldset>
      <br>
      <br>
      <div>
        <input class="button" type="submit" value="Browse">
      </div>
    <% end %>
  </div>
</div>

<div class="grid-row radios-container" id="location-section">
  <div class= "column-whole">

    <p>Explore by area</p>

    <p>
    Information is collected differently, depending on the organisation and the reason for measuring it. Some of the information we publish on race equality is only available at a national level, and some is available at a more detailed level (e.g. for a local authority, postcode, or for a specific school or prison).
    </p>

    <p>
    You can find information and data on race equality for a specific area - where the data is available at that level. If it isn't available, you may need to broaden your search to a larger regional area.
    </p>

    <div class= "location-search">
      <label for="search-main">Search by location:

        <input type="search" id="search-main">
      </label>
      <button type="submit" class="button"> Search </button>
    </div>
    <p>
    See what data is available at the various levels below:
    </p>
    <img src="/assets/images/regions.png">
  </div>
</div>

