<div class = "grid-row">
  <div class= "column-whole">
   <h1 class="heading-xlarge"> <%= @title %> </h1>
  </div>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <p>
      Government departments collect data and run surveys which include information on ethnicity. This is the first time that this data has been collected together and shown openly in one place.
    </p>

    <div class="grid-row">
      <div class="column-half quote">
        Black people are six times more likely to be stopped and searched by police.
      </div>

      <div class="column-half quote"> Young Bangladeshis and Pakistanis are <a href="/unemployment in the uk">twice as likely to be unemployed </a> as white people of the same age
      .</div>
    </p>
    </div>

    <p>
      Now government departments and other organisations can see where there are differences and where there is a need for change in order to have a fairer Britain.
    </p>

    <p>
      Members of the public will be able to see how experiences and outcomes differ for people of various ethnicities across public sector services, which cover important areas of their life such as health, work and education.
    </p>

    <h3 class="heading-medium">
      Browse by topic:
    </h3>
  </div>

  <div class="column-one-third">
    <div class="related-items-section">
      <h2 class="heading-small">Further information:</h2>
      <ul class="list">
        <li> <a href="https://www.gov.uk/government/news/prime-minister-orders-government-audit-to-tackle-racial-disparities-in-public-service-outcomes">Prime Minister orders government audit to tackle racial disparities in public service outcomes </a></li>
        <li> <a href="">Ethnicity and identity in the UK </a></li>
        <li> <a href="">Methodology for collecting and displaying the data </a></li>
        <li> <a href="">Future releases and updates </a></li>
        <li> <strong><a href="">More </a></strong></li>
      </ul>
    </div>
  </div>
</div>

<div class="grid-row" id="topic-section">
  <div class="column-two-thirds">
    <input type="hidden" name="filter_type" value="<%=HomepageController::TOPIC%>">
    <p>Select one of the options below.</p>

    <span class="heading-small"><a href="/topics/all">All</a></span>
    <p> See the full list of data available </p>

    <% TaxonomyLevel.homepage.taxonomy_levels.each_with_index do |topic, index| %>
        <span class="heading-small"><a href="/topics/<%= topic.id %>"><%= topic.display_name %></a></span>
        <p> <%= topic.description %></p>
    <% end %>
  </div>
</div>

