<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.reverse.each do |crumb| %>
      <% if crumb != "homepage" %>
        <li> <a href="/<%=crumb%>"><%=crumb.titleize%></a></li>
      <% else %>
        <li> <a href = "/"> Homepage </a> </li>
      <% end %>
    <% end %>
  </ol>
</div>

<h1 class="heading-large"> How do students perform in their 8 best GCSEs?</h1>

Source: <%= @presenter.source_title %>
<br>
Originally published: <%= @presenter.date %>
<br>
<br>

<% @presenter.blurb_paragraphs.each do |paragraph| %>
  <p class="lede">
    <%= paragraph %>
  </p>
<% end %>

<p> <a href="http://www.gov.uk">Download data in csv or xls format</a> for all of England or a local authority.</p>

<p>Read the <a href="#">further information and guidance </a>about the data in the tables.
</p>

<div class="grid-row question-tabs">
  <ul>
    <li id="ethnicity-selector"><a href="#ethnicity-section"> All </a></li>
    <li id="gender-selector"><a href="#gender-section"> Gender </a></li>
    <li id="region-selector"><a href="#region-section">Region </a></li>

  </ul>
</div>

<div class="grid-row graph-section" id="ethnicity-section">
  <h3 class="heading-medium"> Student GCSE achievement </h3>
  <div class="column-whole question-graph">
  <div id="container" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
</div>
<!--   <div class="column-one-half question-graph">
    <img src="/assets/images/attainment8/Table_1_GCSE_Average_by_Ethnicity.png" alt="">
  </div> -->
</div>

<div class="graph-section" id="gender-section">
  <h3 class="heading-medium"> Student GCSE achievement by race grouped by gender </h3>
  <div class="grid-row" >
    <div class="column-whole question-graph">
      <div id="gender-container" style="max-width: 800px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>
</div>

<div class="grid-row graph-section" id="region-section">
  <h3 class="heading-medium"> Student GCSE achievement by UK region grouped by race  </h3>
  <div class="column-whole question-graph">
      <div id="heatmap-container" style="max-width: 800px; height: 500px; margin: 0 auto"></div>
  </div>
</div>

<div class="grid-row">
  <h3 class="heading-medium">
    Context
  </h3>
  <div class="column-whole">
  </div>

  <% @presenter.context_paragraphs.each do |paragraph| %>
    <p>
      <%= paragraph %>
    </p>
  <% end %>
</div>

<div class="grid-row">
  <h3 class="heading-medium">
    Analysis
  </h3>
  <div class="column-whole">
  </div>

  <% @presenter.analysis_paragraphs.each do |paragraph| %>
    <p>
      <%= paragraph %>
    </p>
  <% end %>
</div>



