
<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.reverse.each do |crumb| %>
      <% if crumb != "homepage" %>
        <li> <a href="/<%=crumb%>"><%=crumb.titleize%></a></li>
      <% else %>
        <li> <a href = "/"> Homepage </a> </li>
      <% end %>
    <% end %>
  </ol>
</div>

<h1 class="heading-large"> Average GCSE results (Attainment 8)</h1>

<div class="grid-row">
  <div class="column-whole">
    <div class="govuk-metadata">
      <dl>
        <dt> From:</dt> <dd><a href="<%= @presenter.source_link %>">
        <%= @presenter.source_title %></a></dd>
        <dt>First Published: </dt> <dd><%= @presenter.date %></dd>
        <dt>Last Updated: </dt> <dd><%= @presenter.date %></dd>
      </dl>
    </div>
  </div>
</div>


<p>
 Attainment 8 measures the students’ average grades across eight GCSE or equivalent subjects, which must include English and Mathematics.
</p>

<p>
 Results are calculated from a combination of student grades where A* = 8, A = 7, B = 6, C = 5, and so on. English and Mathematics are double-weighted to prioritise their importance in the national curriculum. Find out more about

  <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/583857/Progress_8_school_performance_measure_Jan_17.pdf">how Attainment 8 is measured.</a>
</p>

<div class="grid-row question-tabs" id="navigation-tabs">
  <ul class="tabs-nav">
    <li id="ethnicity-selector"><a href="#ethnicity-section"> All </a></li>
    <li id="gender-selector"><a href="#gender-section"> Gender </a></li>
    <li id="region-selector"><a href="#region-section">Region </a></li>
    <li id="income-selector"><a href="#income-section">Income </a></li>

  </ul>
</div>

<div class="grid-row graph-section" id="ethnicity-section">
  <div class="column-whole question-graph">
  <div id="container" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
</div>
<!--   <div class="column-one-half question-graph">
    <img src="/assets/images/attainment8/Table_1_GCSE_Average_by_Ethnicity.png" alt="">
  </div> -->
</div>

<div class="graph-section" id="gender-section">
  <div class="grid-row" >
    <div class="column-whole question-graph">
      <div id="gender-container" style="max-width: 800px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>
</div>

<div class="grid-row graph-section" id="region-section">
  <div class="column-whole question-graph">
      <div id="heatmap-container" style="max-width: 800px; height: 500px; margin: 0 auto"></div>
  </div>
</div>

<div class="grid-row graph-section" id="income-section">
<p> Eligibility for free school meals has been used as an indication of lower household income </p>
  <div class="column-whole question-graph">
      <div id="fsm-pyramid-container" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
  </div>
</div>


<div class="grid-row">
  <div class="column-whole">
  </div>

    <p>Find out <a href= "https://www.ons.gov.uk/ons/guide-method/measuring-equality/equality/measuring-equality--a-guide/ethnic-group-statistics--a-guide-for-the-collection-and-classification-of-ethnicity-data.pdf">how we collect and report on race. </a> </p>

    <p>
      Race categories may be combined if the number of people in one category is very small. For example, Black Caribbean, Black African and Black other may be combined into one category, as "Black".
    </p>

    <br>
    <br>

    <p>
      Girls are ahead of boys and the highest-performing local authority areas for attainment 8 are concentrated in London and the south, while the majority of the lowest-performing areas are in the north and midlands.
    </p>

    <p>
      The GCSE and equivalent results continue to vary between different race groups. Within each of these broader race groupings, the minor race groups show further variability:
    </p>

    <ul class="list-bullet">
      <li>Chinese pupils are the highest achieving group.</li>
      <li> Pupils from a black background are the lowest performing group although black pupils are progressing above the national average.</li>
      <li>Pupils from an Asian background are performing above the national average.</li>
      <li>Pupils from a mixed background are also performing above the national level.</li>
      <li>Within the minor race groupings, Indian pupils are performing well above the national average </li>
      <li>Gypsy/Roma pupils are the lowest performers.</li>
    </ul>
  <br>
  <br>
  <p> <a href="http://www.gov.uk">Download data in csv or xls format</a> for all of England or a local authority.</p>

  <p>Read the <a href="/attainment8/metadata">further information and guidance </a>about the data in the tables.
  </p>
</div>



<!-- Makes it run attainment js, extremely hacky fix this TODO: KASM -->
<div id="attainment"></div>

