<main id="content" role="main">
  <div class="grid-row">
    <div class="column-whole">
      <h1 class = heading-xlarge>
        Showing disparity data for "<%= @filter.titleize%>"
      </h1>
    </div>
  </div>
  <div class = "grid-row">
    <div class = "column-third">
      <div class="govuk-option-select js-collapsible">
        <button class="js-container-head" type="button" aria-expanded="false" aria-controls="">
          <div class="option-select-label">Topic</div>
          <div class="js-selected-counter"></div>
        </button>
        <div class="options-container" id="">
          <div class="js-auto-height-inner">

            <% TaxonomyLevel.topic_level.each do |t| %>
              <label for="<%= t.name %>">
                <input name="<%= t.name %>" value="true" id="<%= t.name %>" type="checkbox" aria-controls="">
                <%= t.name.titleize %>
              </label>
            <% end %>
          </div>
        </div>
      </div>

      <button class="button" id="#filter-button"> Filter </button>
      <br>
      <br>
      <div class="govuk-option-select js-collapsible">
        <button class="js-container-head" type="button" aria-expanded="false" aria-controls="">
          <div class="option-select-label">Black</div>
          <div class="js-selected-counter"></div>
        </button>

        <div class="options-container" id="">
          <div class="js-auto-height-inner">

                All

                Black Caribbean

                Black African

          </div>
        </div>
      </div>

    </div>

    <div class="column-two-thirds">

      <div class="factoid-list-header">
        <div class="factoid-question-header"> Metric </div>
        <div class="factoid-result-header">
            Result for group
         </div>
         <div class="factoid-result-header">
            National average
         </div>
      </div>

      <div class= "factoid-list">
        <ul class = "list">
          <% @factoids.each do |f| %>
          <div class="factoid-question <%= f.top_level_parent.name %>">
           <a href="/<%= f.name %>"><li> <%= f.description %>
           </li></a>
           </div>
           <div class="factoid-result">
              52%
           </div>
           <div class="factoid-result">
              51%
           </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
