


<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <% @taxonomy_level.breadcrumbs.reverse.each do |crumb| %>
        <% if crumb != "homepage" %>
          <li> <a href="/<%=crumb%>"><%=crumb.titleize%></a></li>
        <% else %>
          <li> <a href = "/"> Homepage </a> </li>
        <% end %>
      <% end %>
    </ol>
  </div>
  <div>
     <span class="heading-xlarge"><h1> <%= @taxonomy_level.display_name %> </h1></span>

     <p>
      <%= @taxonomy_level.description %>
     </p>
  </div>

  <nav>
    <ul>
      <% @topics.each do |t| %>
        <li><a href = "<%= '/' + t.name %>"><%= t.display_name %></a></li>
      <% end %>
    </ul>
  </nav>
</main>
