<div class="grid-row">
  <div class="column-whole">
    <h1 class = heading-xlarge>
      Race disparity in the public sector
    </h1>
    <div class=heading-medium>
      You selected: <%= @topic.display_name %>
    </div>
  </div>
</div>

<div class = "grid-row">
  <div class = "column-third">
    <div>
      <h3 class="heading-medium">
        Contents
      </h3>
      <ul class="list">
        <% @topic.taxonomy_levels.each do |level| %>
          <li> <a href="#<%=level.anchor%>"> <%= level.display_name %> </a> </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3 class="heading-medium">
        Compare to the national average
      </h3>
      <ul class="list">
        <li> <a href="<%= @topic.id %>/white"> White </a></li>
        <li> <a href="<%= @topic.id %>/black"> Black </a></li>
        <li> <a href="<%= @topic.id %>/asian"> Asian </a></li>
        <li> <a href="<%= @topic.id %>/mixed"> Mixed</a></li>
        <li> <a href="<%= @topic.id %>/other"> Other </a></li>
      </ul>
    </div>

    <div>
      <h3 class="heading-medium">
        View a different Topic
      </h3>
      <ul class="list">
        <% TaxonomyLevel.topics.each do |t| %>
          <li> <a href="<%= t.id %>"> <%=t.display_name %> </a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="column-two-thirds">

    <div class="govuk-box-highlight">
      <h3 class="heading-small">
      <!-- TODO: KASM after refactor topics should have one "primary measure" which will be a metric we can pull this stuff from -->
        Pupils achieving 5 or more A* - C grades for GCSEs
      </h3>

      <div class="column-whole">
        <h3 class="heading-large">56.6%</h3>
      </div>
      <p> National Average </p>
    </div>

    <h3 class="heading-medium">
      <%= @topic.measures.count %> measures available for <%= @topic.display_name %>
    </h3>

    <div class= "factoid-list">
      <% @topic.taxonomy_levels.each do |sub_topic| %>
        <div class="row-container grid-row" >
          <div class="column-whole">
            <div class="factoid-question" >
              <h3 class="heading-medium" id="<%= sub_topic.anchor %>">
                <%= sub_topic.display_name %>
              </h3>
            </div>

            <div class="factoid-result factoid-header">
              National Average
            </div>

            <% sub_topic.measures.each do |f| %>
              <ul class = "list">
                <div class="row-description">
                  <a href="/<%= f.name %>"><li> <%= f.description %></li></a>
                </div>

                <div class="factoid-result">
                   <%= f.national_average %>
                </div>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
