<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.each do |crumb| %>
      <li> <a href="<%=crumb.link%>"><%=crumb.breadcrumb_name%></a></li>
    <% end %>
  </ol>
</div>

<div class="grid-row">
  <div class="column-whole">
    <h1 class = heading-xlarge>
      <%= @topic.display_name %>
    </h1>
  </div>
</div>

<div class = "grid-row">
  <div class = "column-third">
    <div>
      <h3 class="heading-medium">
        Contents
      </h3>
      <ul class="list">
        <% @topic.taxonomy_levels.each do |level| %>
          <li> <a href="#<%=level.anchor%>"> <%= level.display_name %> </a> </li>
        <% end %>
      </ul>
    </div>

    <div>
      <h3 class="heading-medium">
        Compare to the national average
      </h3>

      <ul class="list">
        <li> <a href="white"> White </a></li>
        <li> <a href="black"> Black </a></li>
        <li> <a href="asian"> Asian </a></li>
        <li> <a href="mixed"> Mixed</a></li>
        <li> <a href="other"> Other </a></li>
      </ul>
    </div>

    <div>
      <h3 class="heading-medium">
        View a different Topic
      </h3>
      <ul class="list">
        <% TaxonomyLevel.topics.each do |t| %>
          <li> <a href="/topics/<%= t.id %>"> <%=t.display_name %> </a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="column-two-thirds">

    <h3 class="heading-medium">
      <%= @topic.measures.count %> measures available for <%= @topic.display_name %>
    </h3>

    <div class= "factoid-list">
      <% @topic.taxonomy_levels.each do |sub_topic| %>
        <div class="row-container grid-row" >
          <div class="column-whole">
            <div class="factoid-question" >
              <h3 class="heading-medium" id="<%= sub_topic.anchor %>">
                <%= sub_topic.display_name %>
              </h3>
            </div>

            <div class="factoid-result factoid-header">
              <%= @filter.titleize %> Average
            </div>

            <div class="factoid-result factoid-header">
              National Average
            </div>

            <% sub_topic.measures.each do |f| %>
              <ul class = "list">
                <div class="row-description">
                  <a href="/<%= f.name %>"><li> <%= f.description %></li></a>
                </div>

                <div class="factoid-result">
                   <%= f.group_average(@filter) %>
                </div>

                <div class="factoid-result">
                   <%= f.national_average %>
                </div>
              </ul>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
