<div class="grid-row">
  <div class="column-whole">
    <h1 class = heading-xlarge>
      Race disparity in the public sector
    </h1>
    <div class=heading-medium>
      You selected: <%= @topic.display_name%>
    </div>
  </div>
</div>

<div class = "grid-row">
  <div class = "column-third">
    <div>
      Select group:
      <ul class="list">
        <li> <a href="white"> White </a></li>
        <li> <a href="black"> Black </a></li>
        <li> <a href="asian"> Asian </a></li>
        <li> <a href="mixed"> Mixed</a></li>
        <li> <a href="other"> Other </a></li>
      </ul>
    </div>

    <div>
      Select another Topic:
      <ul class="list">
        <% TaxonomyLevel.topics.each do |t| %>
          <li> <a href="<%= t.id %>"> <%=t.display_name %> </a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="column-two-thirds">

    <div class= "factoid-list">
      <ul class = "list">
        <% @factoids.each do |f| %>
          <div class="row-container <%= f.top_level_parent.name %> ">
            <div class="grid-row">
              <div class="column-whole">
                <div class="factoid-question">
                  <a href="/<%= f.name %>"><li> <h3 class="heading-medium"><%= f.description %></h3></li></a>
                </div>

                <div class="factoid-result factoid-header">
                <!-- TODO we need a presenter to manage the classes based on whether there is a filter or not -->
                  <%#= @filter.titleize %>
                </div>

                <div class="factoid-result factoid-header">
                  National Average
                </div>
              </div>
            </div>

            <div class="grid-row">
              <div class="column-whole">
                <div class="row-description" >
                   <%= f.subtitle %>
                </div>

                <div class="factoid-result">
                   <%= f.group_average(@filter) %>
                </div>

                <div class="factoid-result">
                   <%= f.national_average %>
                </div>
              </div>
            </div>

          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
