
<div class="breadcrumbs">
  <ol>
    <% @taxonomy_level.breadcrumbs.each do |crumb| %>
        <li> <a href="<%=crumb.link%>"><%=crumb.breadcrumb_name%></a></li>
    <% end %>
  </ol>
</div>

<h1 class="heading-large"> Unemployment rates (in labour force)</h1>

<div class="grid-row">
  <div class="column-whole">
    <div class="govuk-metadata">
      <dl>
        <dt> From:</dt> <dd><a href="<%= @presenter.source_link %>">
        <%= @presenter.source_title %></a></dd>
        <dt>First Published: </dt> <dd><%= @presenter.date %></dd>
        <dt>Last Updated: </dt> <dd><%= @presenter.date %></dd>
      </dl>
    </div>
  </div>
</div>


<p>
 The rate of UK unemployment as a percentage of the potential labour force
</p>

<p>
  Unemployed people are those without a job who have been actively seeking work in the past 4 weeks and are available to start work in the next 2 weeks. It also includes those who are out of work but have found a job and are waiting to start it in the next 2 weeks. Find out more about
  <a href="https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment">how unemployment is measured.</a>
</p>

<p>The level and rate of UK unemployment are measured by the Labour Force Survey (LFS) using a definition of unemployment specified by the International Labour Organisation. </p>

<div class="grid-row question-tabs" id="navigation-tabs">
  <ul class="tabs-nav">
    <li id="ethnicity-selector"><a href="#ethnicity-section"> All </a></li>
    <li id="gender-selector"><a href="#gender-section">Gender </a></li>
    <li id="age-bracket-selector"><a href="#age-section">Age bracket </a></li>
    <li id="time-selector"><a href="#time-section">Over time </a></li>
  </ul>
</div>

<div class="grid-row graph-section" id="ethnicity-section">
  <div class="column-whole question-graph">
  <div id="container" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
</div>
<!--   <div class="column-one-half question-graph">
    <img src="/assets/images/attainment8/Table_1_GCSE_Average_by_Ethnicity.png" alt="">
  </div> -->
</div>

<div class="graph-section" id="gender-section">
  <div class="grid-row" >
    <div class="column-whole question-graph">
      <div id="gender-container" style="max-width: 800px; height: 600px; margin: 0 auto"></div>
    </div>
  </div>
</div>

<div class="graph-section" id="age-section">
  <div class="grid-row">
    <div class="column-whole question-graph">
        <div id="age-container" style="max-width: 800px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>
</div>

<div class="graph-section" id="time-section">
  <div class="grid-row">
    <div class="column-whole question-graph">
        <div id="time-container" style="max-width: 800px; height: 500px; margin: 0 auto"></div>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="column-whole">

    <p>Find out <a href= "https://www.ons.gov.uk/ons/guide-method/measuring-equality/equality/measuring-equality--a-guide/ethnic-group-statistics--a-guide-for-the-collection-and-classification-of-ethnicity-data.pdf">how we collect and report on race. </a> </p>

    <p>
      Race categories may be combined depending on how the information was collected or to show a value for the whole group. For example, Black Caribbean, Black African and Black other may sometimes be combined into one category, as "Black".
    </p>

    <h3 class="heading-medium"> Summary </h3>
  <p>
  Unemployment has decreased over the past three years for most groups, with the exception of Indian and other Asian people, who have seen a small increase in unemployment. Younger people across all backgrounds have a significantly higher rate of unemployment.
  </p>

  <p>
  In 2015, ethnic minorities have higher rates of unemployment, with people from a black background having the highest unemployment rate at 14%.
  </p>

  <p>
  Whilst unemployment for both men and women is just above 5% in the UK, black men are more likely to be unemployed than black women, and Pakistani or Bangladeshi women are far more likely to be unemployed than Pakistani or Bangladeshi men.
  </p>
  <br>
  <br>
  <p> <a href="http://www.gov.uk">Download data in csv or xls format</a> for all of England or a local authority.</p>

  <p>Read the <a href="/attainment8/metadata">further information and guidance </a>about the data in the tables.
  </p>
  </div>
</div>



<!-- Makes it run unemployment js, extremely hacky fix this TODO: TRI -->
<div id="unemployment"></div>

